*.a
*.bc
*.dll
*.dylib
*.o
*.obj
*.pc
*.so
build*
debian/.debhelper/
debian/control
debian/files
debian/postgresql-*
log/
output_iso/
regression.diffs
regression.out
results/
target/
tmp_check/
tmp_check_iso/
